{% extends "index.html" %}


{% block content %}
    <h2>category</h2>

        <form action="{{ url_for('create_category') }}" method="post">
            <p>
                <input type="text" name="cat" value="{{cat}}" placeholder="category">
            </p>
            <p>
                <input type="submit" value="save">
            </p>
        </form>
    <br>

    <h2>categories</h2>
     {% for c in all_cat %}
        {{ c.name_category }} <br>
     {% endfor %}

    <br>
    <a href="{{ url_for('create_item') }}">create item</a>

{% endblock %}