{% extends "index.html" %}


{% block content %}

<h2>categories</h2>
<p>please, choose category id</p>
<table border="1">
    <tr>
        <td>category_id</td>
        <td>category</td>
        <td>category_item</td>

    </tr>
    {% for c in all_cat %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name_category }}</td>
            <td>
                {% if c.id %}
                    {% for i in all_item %}
                        {% if c.id == i.category_id%}
                            {{ i.name_item }} -- {{i.price_item}}<br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </td>

        </tr>
     {% endfor %}
</table>

<div style="height:20px;"></div>

<form action="{{ url_for('create_item') }}" method="post">
    <div>
        <span>Select category</span>
        <select name="id_select">
            {% for c in all_cat %}
                <option  value="{{ c.id }}">{{ c.name_category }} - {{ c.id }}</option>
            {% endfor %}
        </select>
    </div>
    <p>
        <input type="text" name="item" value="{{item}}" placeholder="item">
        <input type="text" name="price" value="{{price}}" placeholder="price">
    </p>
    <p>
        <input type="submit" value="save">
    </p>
</form>


<a href="{{ url_for('calc_page') }}">go calc</a>

{% endblock %}